#videos {
    position: relative;
    width: 100%;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
}

#subscriber {
    width: 100%;
    height: 600px;
    z-index: 10;
    position: relative;
}

#subscriber .OT_fit-mode-cover,
#subscriber .OT_fit-mode-contain{
    position: absolute;
}

#publisher {
    position: absolute;
    width: 250px;
    height: 200px;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

#screen-preview {
    position: absolute;
    width: 250px;
    height: 200px;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

/*
* Index page
*/
body.page-index .video-chat-start-button {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}
